 :shortcuts
 {:editor/collapse-block-children "ctrl+z ctrl+c", 
  :editor/new-block "enter", 
  :editor/forward-kill-word "ctrl+d ctrl+w", 
  :editor/right ["ctrl+l" "right"], 
  :editor/expand-block-children "ctrl+z ctrl+o", 
  :editor/select-all-blocks "shift+alt+5", 
  :go/backward "ctrl+o", 
  :go/search-in-page "ctrl+/", 
  :editor/beginning-of-block "ctrl+0", 
  :editor/replace-block-reference-at-point "alt+r", 
  :go/search "alt+ctrl+/", 
  :editor/kill-line-before "ctrl+d ctrl+0", 
  :editor/follow-link "alt+g alt+f", 
  :command-palette/toggle "shift+ctrl+semicolon", 
  :editor/forward-word "ctrl+w", 
  :editor/left ["ctrl+h" "left"], 
  :editor/move-block-up "alt+ctrl+k", 
  :go/home "shift+ctrl+`", 
  :editor/select-block-up "shift+alt+k", 
  :editor/toggle-open-blocks "t z", 
  :editor/open-link-in-sidebar "alt+w alt+g alt+f", 
  :editor/select-block-down "shift+alt+j", 
  :editor/italics "shift+alt+dash", 
  :editor/move-block-down "alt+ctrl+j", 
  :editor/outdent "shift+ctrl+,", 
  :editor/cycle-todo "shift+ctrl+`", 
  :editor/end-of-block "shift+ctrl+4", 
  :editor/backward-word "ctrl+b", 
  :go/forward "ctrl+i", 
  :editor/insert-link "shift+alt+open-square-bracket", 
  :editor/indent "shift+ctrl+.", 
  :editor/highlight "shift+alt+equals", 
  :editor/copy "ctrl+y", 
  :editor/clear-block "ctrl+d ctrl+d", 
  :editor/bold "shift+alt+8", 
  :editor/up ["ctrl+k" "up"], 
  :editor/redo "ctrl+r", 
  :editor/down ["ctrl+j" "down"], 
  :go/journals "", 
  :editor/open-edit ["i" "enter"], 
  :editor/backward-kill-word "ctrl+d ctrl+b", 
  :editor/kill-line-after "ctrl+d shift+ctrl+4", 
  :editor/undo "ctrl+u"}
